<!DOCTYPE HTML>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <h1>photos</h1>
        <ul>
            <li>locals: <%= locals.nick %></li>
            <li>locals: <%= locals.age %></li>
        </ul>
        <p>Express stock photo application.</p>
        <div class="photos">
            <% photos.forEach(function(photo) {%>
                <div class="photo">
                    <h2><%= photo.name %></h2>
                    <a href="/photos/<%= photo._id %>/download"><img src="<%= photo.path %>"/></a>
                </div>
            <% })  %>
        </div>
    </body>
</html>